* {
  padding: 0;
  margin: 10px;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}
div{
  width: 700px;
  background: #00B2FE
}

img {
  border-radius: 50%;
}
